@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
}

@keyframes blur {
  0% {
    filter: blur(40px) grayscale(1);
  }
  100% {
    filter: blur(0px) grayscale(0);
  }
}

img[data-blur='20']{
  animation: blur 10s infinite;
}

canvas {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

#bar {
  width: 500px;
  height: 1em;
  background-color: white;
  border: black solid;
  border-radius: 1em;
}

#round, #stage {
  border-radius: 1em;
  width: 500px;
  height: 1em;
  display: block;
  position: absolute;
  outline: black solid 5px;
}

#stage {
  background-color: red;
}

#round {
  background-color: blue;
}